<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="app.component.css">
</head>
<body>
  <h1>Formulario en Angular</h1>
<h1>Derek Alvarado, Manuel Barraza y Luis Villa</h1>

<form>
  <label for="fname" >Username or email:</label><br>
  <input type="text" id="fname" name="fname" placeholder="Username or email"><br>
  <label for="lname">Password:</label><br>
  <input type="password" id="lname" name="lname" placeholder="Password">
</form> 
<button>Login</button>
<button>Sign in</button>

</body>
</html>

<router-outlet></router-outlet>
